@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
/*                                           Parte principal                                              */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.cont{
  margin-top: 30px;
  margin-right: 40px;
  margin-left: 40px;
}

/*                                       Barra de  navegacion superior                                    */

html {
  scroll-behavior: smooth;
}
nav{
    display: flex;
    height: 80px;
    width: 100%;
    background: #1b1b1b;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
  }
  nav .logo{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
  }
  nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
  nav ul li{
    margin: 0 5px;
  }
  nav ul li a{
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
  }
  nav ul li a.active,
  nav ul li a:hover{
    color: #111;
    background: #fff;
  }
  nav .menu-btn i{
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
  }
  input[type="checkbox"]{
    display: none;
  }
  @media (max-width: 1000px){
    nav{
      padding: 0 40px 0 50px;
    }
  }
  @media (max-width: 920px) {
    nav .menu-btn i{
      display: block;
    }
    #click:checked ~ .menu-btn i:before{
      content: "\f00d";
    }
    nav ul{
      position: fixed;
      top: 80px;
      left: -100%;
      background: #111;
      height: 100vh;
      width: 100%;
      text-align: center;
      display: block;
      transition: all 0.3s ease;
    }
    #click:checked ~ ul{
      left: 0;
    }
    nav ul li{
      width: 100%;
      margin: 40px 0;
    }
    nav ul li a{
      width: 100%;
      margin-left: -100%;
      display: block;
      font-size: 20px;
      transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    #click:checked ~ ul li a{
      margin-left: 0px;
    }
    nav ul li a.activo,
    nav ul li a:hover{
      background: none;
      color: cyan;
    }
}

/*                                  Imagen y texto de la parte principal                                  */

    .hero-text{
      color: white;
      text-align: center;
    }
    .hero-text h1{
        margin-top: 9%;
        display:flex;
        justify-content: center;
        font-size: 50px;
        font-weight: 900;
    }
    .hero-text p{
        margin: 0 3%;
        display:flex;
        justify-content: center;
        text-align: center;
        font-size: 30px;
        font-weight: 400;
        margin-right: 5%;
        margin-left: 5%; 
    }
    .hero-image{
      background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../img/fondo.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding-bottom: 18%;
      top: 0;
      margin-top: 0%;
      margin-bottom: -50px;
    }

    .parrafo2{
      margin-left: 63px;
    }
    .parrafo2 h1{
      text-align: left;
    }
    .parrafo2 p{
      text-align: justify;
     
    }

/*                                               Parte Servicios                                        */

    #contenedor-servicios {
      text-align: center;
      position: relative;
      top: 100px;
      margin: 30px;
      margin-bottom: 50px;
    }
    #contenedor-servicios #serv1 {
      font-size: 12px;
      text-align: center;
      display: inline-block;
      position: relative;
      top: 40px;
      right: 300px;
      transition: 1s;
    }
    #contenedor-servicios #serv1 img{
      border-radius: 150px;
      width: 150px;
      
    }
    #contenedor-servicios #serv1 p {
      display: block;
      width: 350px;
      font-size: 17px;
      
    }
    #contenedor-servicios #serv2 {
      font-size: 12px;
      text-align: center;
      display: inline-block;
      position: absolute;
      top: 90px;
      right: 200px;
      transition: 1s; 

    }
    #contenedor-servicios #serv2 img{
      width: 150px;
      border-radius: 150px;
    }
    #contenedor-servicios #serv2 p {
      display: block;
      width: 350px;
      font-size: 17px;
    }




    /*                                              Parte Inferior                                     */
    footer{
      margin-top: 15%;
      background: #111;
      height: auto;
      width: auto;
      padding-top: 40px;
      color: #fff;
    }
    .footer-content{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
    }
    .footer-content h3{
      font-size: 40px;
      font-weight: 650;
      text-transform: capitalize;
      line-height: 3rem;
    }
    .footer-content p{
      max-width: 500px;
      margin: 10px auto;
      line-height: 28px;
      font-size: 14px;
    }
    .social{
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 1rem 0 3rem 0;
    }
    .social li{
      margin: 0 10px;
    }
    .social a{
      text-decoration: none;
      color: #fff;
    }
    .social a i{
      font-size: 1.1rem;
      transition: color .4s ease;
    }
    .social :hover i{
      color: aqua;
    }
    .footer-bottom{
      background: #000;
      width: auto;
      padding: 20px 0;
      text-align: center;
    }
    .footer-bottom p{
      font-size: 14px;
      word-spacing: 2px;
      text-transform: capitalize;
    }
    .footer-bottom span{
      text-transform: uppercase;
      opacity: .4;
      font-weight: 200;
    }

    /*                                           Parte de "contratarnos"               */

    .cont #contra {
      display: inline-block;
      width: 500px;
      position: relative;
      top: 30px;
    }

      /*                                    video                                      */

      video {
        width: 600px;
        position: relative;
        top: 60px;
        left: 100px;
      }