@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
    
    font-family: 'Raleway', sans-serif;
    margin: 0px;
    
    background-image: url(https://images.pexels.com/photos/1319460/pexels-photo-1319460.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: 100%;
}
    div{
        border: 1px solid black;
        border-radius: 5%;
        width: 350px;
        height: 160px;
        text-align: center;
        margin-top: 50px;
        margin-left: 450px;
        padding-bottom: 400px;
        background-color: white;
    }
    img {
        width: 120px;
        margin-top: 20px;
        margin-bottom: -20px;
        border-radius: 100%;
    }
    div #correo{
        margin-top: -20px;
        padding-top: 50px;
    }
    div #correo #email {
        position: relative;
        left: -60px;
    }
    div #correo input {
        height: 40px;
        max-height: 300px;
        margin-left: 50px;
        max-width: 200px;
        font-size: 20px;
        position: relative;
        left: -30px;
        border-radius: 3px;
    }
    div #contraseña {
        margin-top: 10px;
    }
    div #contraseña  span {
        position: relative;
        left: -80px;
    }
    div #contraseña input {
        height: 40px;
        margin-left: 50px;
        max-width: 200px;
        font-size: 20px;
        position: relative;
        left: -30px;
        border-radius: 3px;
    }
    a {
        text-decoration: none;
        color: grey;
        position: relative;
        top: 20px;
        left: -40px;
    }
    a:hover {
        color: black;
    }
    button {
        width: 90px;
        position: relative;
        left: -5px;
        top: 40px;
        background-color: black;
        color: white;
        height: 30px;
        width: 200px;
        border-radius: 5px;
    }
    button:hover {

        color:black;
        width: 55%;
        background-color: white;
    }
    
    ul {
        font-size: 18px;
        padding-top: 20px;
        padding-left: 75px;
    }
    